h1 {
    background-color:peachpuff;
    color:palevioletred;
    font-family: Cambria;
    text-align: center;
}

h2 {
    background-color:lightcyan;
    color:black;
    font-family: Cambria;
    text-align: center;
}

p {
    font-family: Cambria;
    text-align: justify;
}